body {
    background-image: url('assets/download.jpg');
    background-size: 25%;
    background-repeat: repeat;
    justify-content: center;
}

form {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

input {
    background-color: #1e2b3d;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: white;
    outline: none;
    height: 25px;
}

.flex {
    display: flex;
}

.perguntas {
    border-radius: 10px;

    padding: 10px;
    background-color: #1e2b3d;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}